In [1]:
import pandas as pd

In [2]:
insurance = pd.read_csv("https://raw.githubusercontent.com/EvidenceN/Insurance_premium_prediction/master/data/auto_insurance_data.csv")
pd.options.display.max_columns = 999
insurance.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [3]:
insurance.shape

(9134, 24)

In [4]:
# split data into train, test, validation dataset before proceeding. 
# should have done this before chaging to datetime and dropping columns. 

from sklearn.model_selection import train_test_split

train, test = train_test_split(insurance, train_size = 0.85, test_size=0.15, random_state=42)

# validation dataset

train, val = train_test_split(train, train_size = 0.85, test_size=0.15, random_state=42)

In [5]:
len(train)

6598

In [6]:
len(test)

1371

In [7]:
len(val)

1165

In [9]:
val.head(5)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
7802,MN74944,Arizona,6285.154760,No,Extended,College,2/28/11,Employed,M,52210,Suburban,Married,80,6,74,0,9,Personal Auto,Personal L1,Offer1,Branch,384.000000,Four-Door Car,Medsize
3193,DG30586,Oregon,2867.312197,Yes,Extended,Bachelor,1/3/11,Retired,F,23376,Suburban,Divorced,78,19,18,0,1,Personal Auto,Personal L3,Offer2,Call Center,374.400000,Four-Door Car,Medsize
4371,ZX17330,Arizona,2537.383207,No,Basic,Bachelor,1/30/11,Employed,M,92401,Rural,Divorced,64,30,37,0,1,Personal Auto,Personal L1,Offer4,Agent,50.359627,Four-Door Car,Medsize
6757,TI19394,Oregon,2918.576189,No,Basic,College,2/24/11,Employed,M,80714,Suburban,Married,72,18,12,0,1,Personal Auto,Personal L3,Offer2,Web,345.600000,Four-Door Car,Small
4587,PL18921,Oregon,11981.984810,Yes,Basic,Master,1/20/11,Retired,F,21514,Urban,Married,62,0,59,0,2,Personal Auto,Personal L2,Offer1,Agent,257.248789,Two-Door Car,Medsize

In [11]:
y = insurance['Customer Lifetime Value']

In [12]:
y

0        2763.519279
1        6979.535903
2       12887.431650
3        7645.861827
4        2813.692575
            ...
9129    23405.987980
9130     3096.511217
9131     8163.890428
9132     7524.442436
9133     2611.836866
Name: Customer Lifetime Value, Length: 9134, dtype: float64

In [13]:
len(insurance)

9134

In [ ]:
# all columns in insurance but drop target column
insurance = []

In [18]:
xtrain,xtest,ytrain,ytest = train_test_split(insurance,y,test_size=0.15,random_state=42)
xtrain,xval,ytrain, yval = train_test_split(xtrain, ytrain,train_size = 0.85, test_size=0.15, random_state=42)

In [19]:
len(xtrain)

6598

In [20]:
len(xtest)

1371

In [21]:
len(xval)

1165